.ce-transitionsModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 1px 3px 20px 3px #616161;
    padding: 1rem;    

    @media screen and (max-width: 320px) {
        & {
            width: 200px;
            padding: 1rem;
        }
    }
}

